.TopTags {
	position: fixed;
	top: 0;
	display: inline-block;
	transition: width ease-in-out 100ms;
	width: 25vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.Hashtag {
	width: 100%;
	height: auto;
	padding: 3%;
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 12%;
}

.Hashtag:first-child {
	padding-top: 0;
}

.TopTags > h1 {
	width: 100%;
	height: auto;
	font-weight: 900;
	font-size: 1.5rem;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 2%;
}