.HomePage {

}

.dark-grey {
	background: #212121;
}

.mid-grey {
	background: #313131;
}

.light-grey {
	background: #FCFCFF;
}

.dark-grey-text {
	color: #212121;
}

.mid-grey-text {
	color: #313131;
}


.light-grey-text {
	color: #FCFCFF;
}

.shadow {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(17,17,17,1);
	-moz-box-shadow: 2px 2px 10px 0px rgba(17,17,17,1);
	box-shadow: 2px 2px 10px 0px rgba(17,17,17,1);
}