.Settings {
	overflow-y: scroll;
	width: 100%;
	height: 100vh;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(17,17,17,1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(17,17,17,1);
	box-shadow: inset 0px 0px 10px 0px rgba(17,17,17,1);
}

::-webkit-scrollbar {
	display: none;
}