.CreatePost {
	margin: 1vw 4vw 0vw 4vw;
	padding: 1vw 2vw 0vw 2vw;
}

.CreatePost:hover .CreatePostButtons{
	opacity: 100;
}

.TextAreaContainer {
	height: 15vh;
	background: #FCFCFF;
}

.TextAreaContainer > textarea {
	outline: 0;
	background: #FCFCFF;
	border: 0;
	width: calc(100% - 3vw);
	height: calc(100% - 4vh);
	padding: 2vh;
	resize: none;
	font-size: 1.2rem;
}

.CreatePostButtons {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
	width: 100%;
	height: auto;
    opacity: 0;
    transition: opacity 2s;
	background: red;
}

.PreviewImage {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	width: 35%;
}

.ShareButton {
	text-align: center;
	display: inline-block;
	border: 0;
	outline: 0;
	padding: 0;
	width: 6vw;
	margin-right : 10px;
	cursor: pointer;
	height: 36px;
	font-size: 1rem;
	border-radius: 2.5px !important;
	perspective: 1px;
}

.ShareButton:hover {
	background-color: lightslategray;
}


.AttachPicture:hover {
	background: lightslategray;
}

.AttachPicture, .LocationButton {
	vertical-align: top;
	horiz-align: center;
	display: inline-block;
	font-size: 2.25rem;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background: lightslategray;
	border-radius: 2.5px;
}


.mapContainer {
	display: block;
	left: 0;
	right: 0;
	height:100%;
	border-radius: 15px;
}

.mapboxgl-ctrl-geocoder {
	position: absolute;
	width: 100%;
	vertical-align: top;
}

.geocoderContainer{
	position: absolute;
	padding: 0;
	margin: 0;
}

.geocoderSizeController {
	display: inline-block;
	vertical-align: top;
	horiz-align: center;
	background: lightslategray;
	padding: 0;
	margin: 0;
}

.mapSizeController.collapsed {

}

.mapSizeController {
	display: block;
	left: 0;
	right: 0;
	height: 0px;
	transition: height 2s;
	border-bottom-width: 10px;
	border-radius: 15px;
	margin-bottom: 0px;
}

.mapSizeController.expanded {
	height: 300px;
	margin-bottom: 10px;
}

.mapboxgl-canvas {
    position: absolute;
	height: 300px;
    top: 0;
    bottom: 0;
	right: 0;
	left: 0;
}