.CreatePost {
	margin: 1vw 4vw 0vw 4vw;
	padding: 1vw 2vw 0vw 2vw;
}

.TextAreaContainer {
	height: 15vh;
	background: #FCFCFF;
}

.TextAreaContainer > textarea {
	outline: 0;
	background: #FCFCFF;
	border: 0;
	width: calc(100% - 3vw);
	height: calc(100% - 4vh);
	padding: 2vh;
	resize: none;
	font-size: 1.2rem;
}

.CreatePostButtons {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
	width: 100%;
	height: auto;
    opacity: 100;
    transition: opacity .25s;
	margin-bottom: 10px;
}

.PreviewImage {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	width: 35%;
}

.ShareButton {
	text-align: center;
	display: inline-block;
	border: 0;
	outline: 0;
	padding: 0;
	width: 6vw;
	margin-right : 10px;
	cursor: pointer;
	height: 36px;
	font-size: 1rem;
	border-radius: 5px !important;
	perspective: 1px;
}

.ShareButton:hover {
	background: lightslategrey;
}


.AttachPicture:hover, .LocationButton:hover {
  background: #110d41;
}

.AttachPicture, .LocationButton {
	vertical-align: top;
	horiz-align: center;
	display: inline-block;
	font-size: 2.25rem;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
}


.mapContainer {
	display: block;
	left: 0;
	right: 0;
	height:100%;
	border-radius: 15px;
}

.mapboxgl-ctrl-geocoder {
	vertical-align: top;
	font-family: inherit;
	font-size: 1rem;
	min-width: 0!important;
	width: 100%!important;
}


.geocoderContainer{
	display: inline-block;
	padding: 0;
	margin: 0;
	horiz-align: left;
	vertical-align: top;
	max-width: available;
	transition: width .25s;
}

.geocoderContainer.default{
	visibility: hidden;
	width: 0;
}

.geocoderContainer.expanded, .geocoderContainer.collapsed{
	width: 50%;
	max-width: available;
}


.mapSizeController.collapsed {

}

.mapSizeController {
	display: block;
	left: 0;
	right: 0;
	height: 0px;
	transition: height .25s;
	border-bottom-width: 10px;
	border-radius: 15px;
	padding-bottom: 0px;
}

.mapSizeController.expanded {
	height: 300px;
	padding-bottom: 10px;
}

.mapboxgl-canvas {
    position: absolute;
	height: 300px;
    top: 0;
    bottom: 0;
	right: 0;
	left: 0;
}