.CreatePost {
	margin: 1vw 4vw 0vw 4vw;
	padding: 1vw 2vw 0vw 2vw;
}

.CreatePost:hover .CreatePostButtons{
	opacity: 100;
}

.TextAreaContainer {
	height: 15vh;
	background: #FCFCFF;
}

.TextAreaContainer > textarea {
	outline: 0;
	background: #FCFCFF;
	border: 0;
	width: calc(100% - 3vw);
	height: calc(100% - 4vh);
	padding: 2vh;
	resize: none;
	font-size: 1.2rem;
}

.CreatePostButtons {
	display: inline-block;
	vertical-align: top;
	width: auto;
	max-width: 65%;
	height: 8.5vh;
	margin-right: 4vw;
    opacity: 0;
    transition: opacity 2s;
}

.PreviewImage {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	width: 35%;
}

.ShareButton {
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	border: 0;
	outline: 0;
	height: 50%;
	padding: 0;
	min-width: 6vw;
	width: auto;
	margin-top: 10px;
	margin-left: 20px;
	cursor: pointer;
	font-size: 1rem;
}

.ShareButton:hover {
	background-color: lightslategray;
}

.AttachPicture {
	vertical-align: middle;
	horiz-align: center;
	display: inline-block;
	font-size: 8rem;
	cursor: pointer;
	border-radius: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.AttachPicture:hover {
	background: #36325E;
}

.AttachPicture {
	vertical-align: middle;
	horiz-align: center;
	display: inline-block;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.PickLocation {
	vertical-align: middle;
	display: inline-block;
	font-weight: 500;
	padding-bottom: 1vw;
}


.LocationButton {
	vertical-align: middle;
	horiz-align: center;
	display: inline-block;
	font-size: 2rem;
	cursor: pointer;
	border-radius: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.mapContainer {
	display: block;
	left: 0;
	right: 0;
	height:100%;
	border-radius: 15px;
}
.mapSizeController {
	display: block;
	left: 0;
	right: 0;
	height: 0px;
	transition: height 2s;
	border-bottom-width: 10px;
	border-radius: 15px;
	margin-bottom: 0px;
}

.mapSizeController.collapsed {
}

.mapSizeController.expanded {
	height: 300px;
	margin-bottom: 10px;
}

.mapboxgl-canvas {
    position: absolute;
	height: 300px;
    top: 0;
    bottom: 0;
	right: 0;
	left: 0;
}