.MyPosts {
	display: inline-block;
	overflow-y: scroll;
	transition: width ease-in-out 200ms;
	width: 60vw;
	height: 100vh;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(17,17,17,1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(17,17,17,1);
	box-shadow: inset 0px 0px 10px 0px rgba(17,17,17,1);
}

.MyPosts.thin {
	width: 50vw;
}

::-webkit-scrollbar {
	display: none;
}