.Explore {
	overflow-y: scroll;
	width: 100%;
	height: 100vh;
}

::-webkit-scrollbar {
	display: none;
}

#map {
	height: 60%;
	margin: 2vw 4vw 2vw 4vw;
	background-color: powderblue;
	border-radius: 30px;
	margin-top: 5%;
  }

div.mapboxgl-popup-content {
	color: black;
}