.Post {
	position: relative;
	margin: 2vw 4vw 2vw 4vw;
	padding: 2vw;
	border-radius: 30px;
}

.Post:last-child {
	border: 0;
}

.PostLocation {
	font-weight: 500;
}

.PostContent {
	padding: 2vw;
}

.PostImage {
	padding-bottom: 2vw;
}

.PostUploadTime {
	font-style: italic;
}

.delete-button {
	position: absolute;
	top: 25px;
	right: 25px;
	padding: 5px;
	font-size: 1.5rem;
	cursor: pointer;
}