.Post {
	position: relative;
	margin: 2vw 4vw 2vw 4vw;
	padding: 2vw;
	border-radius: 30px;
}

.Post:last-child {
	border: 0;
}

.PostLocation {
	font-weight: 500;
	padding-bottom: 1vw;
}

.PostContent {
	padding-bottom: 2vw;
	padding-top: 1vw;
}

.PostImage {
	padding-bottom: 2vw;
}

.PostImage > img {
	width: 100%;
	border-radius: 20px;
}

.PostUploadTime {
	font-style: italic;
}

.PostEmail {
	font-weight: 500;
	margin-top: 20px;
}

.delete-button {
	position: absolute;
	top: 25px;
	right: 25px;
	padding: 5px;
	font-size: 1.5rem;
	cursor: pointer;
}

.favourite-button {
	position: absolute;
	bottom: 25px;
	right: 25px;
	padding: 5px;
	font-size: 1.5rem;
	cursor: pointer;
}

.permalinkMessageOn {
	position: absolute;
	bottom: 25px;
	right: 55px;
	padding: 5px;
	font-size: 1rem;
	cursor: pointer;
}
.permalinkMessageOff {
	position: absolute;
	bottom: 25px;
	right: 55px;
	padding: 5px;
	font-size: 0rem;
	cursor: pointer;
}


.permalinkCopy {
	height: 0px;
	width: 0px;
	opacity: 0;
}